ion-content(class="Login")
    center
        img(src="image/main.png")
    ion-list
        ion-item
            ion-label(fixed) <ion-icon name="md-person"></ion-icon> User ID
            ion-input((keyup)="insertID($event)" type="text" value="")
    
        ion-item
            ion-label(fixed) <ion-icon name="md-key"></ion-icon> Password
            ion-input((keyup)="insertPassword($event)" type="password")


    center
        button((click)="Auth_Login()" class="loginButton") Log in
        button((click)="quick_login()" class="facebook") Sign in using Facebook
        button((click)="quick_login()" class="kakao") Sign in using KakaoTalk