ion-content(class="heart")
    ion-icon((click)="close()" style="z-index : 99" name="md-close")
    center
        div(class="Count")
            h2 사용자 코인 보유량
            h1 {{user_coin}}

    ion-slides((press)="press_coin_size_up($event)" pager)
        ion-slide
            img((click)="coin_size_up(false,0)" src="{{donation_method[0].image}}")
            h2 {{donation_method[0].name}}
        ion-slide
            img((click)="coin_size_up(false,100)" src="{{donation_method[1].image}}" )
            h2 {{donation_method[1].name}}
        ion-slide
            img((click)="coin_size_up(false,1000)" src="{{donation_method[2].image}}" )
            h2 {{donation_method[2].name}}
        ion-slide
            img((click)="coin_size_up(false,10000)" src="{{donation_method[3].image}}")
            h2 {{donation_method[3].name}}  
    center                     
        ion-icon([hidden]="show_state" class="selection" name = "md-checkmark") <br/>체크되었습니다.                                          